# Defines the custom netowrk used by all services in this stack
networks:
  monitoring:
    driver: bridge # Uses a bridge network to allow containers to communicate (and isolates them to this network)

# Defines the volumnes for persistent data storage
volumes:
  prometheus_data:
    name: prometheus_data # Defines a named volume for Prometheus data
  grafana_data:
    name: grafana_data # Defines named volume for Grafana data

# Defining services
services:

  # Service definition for Prometheus (collects and stores metrics from Node Exporter)
  prometheus:
    image: prom/prometheus:latest # Specifies the Prometheus Docker image
    container_name: ${PROMETHEUS_CONTAINER} # Container name from .env file
    restart: always # Ensures the container always restarts if it crashes
    env_file: .env # loads .env variables
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=30d'
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml # Mount local prometheus config
      - prometheus_data:/prometheus
    expose:
      - ${PROMETHEUS_PORT} # Exposes prometheus port 
    networks:
      - monitoring # Connects prometheus to monitoring network
    depends_on:
      - node-exporter # ensures node-exporter starts before prometheus

  # Service definition for NodeExporter (collects system metrics)
  node-exporter:
    image: prom/node-exporter:latest # Specifies the NodeExporter Docker image
    container_name: ${NODE_EXPORTER_CONTAINER} # Container name from .env file
    restart: always # Ensures the container always restarts if it crashes
    env_file: .env # loads .env variables
    volumes:
      - /proc:/host/proc:ro # Mounts the /proc directory from the host into the container (read-only)
      - /sys:/host/sys:ro # Mounts host /sys into the container read only
      - /:/rootfs:ro # Mount the host root dir into the container read only
    expose:
      - ${NODE_EXPORTER_PORT} # Exposes node-exporter port 
    networks:
      - monitoring # Connects node-exporter to monitoring network

    # Service definition for Grafana (visualize metrics collected by Prometheus)
  grafana:
    image: grafana/grafana # Specifies the Grafana Docker image
    container_name: ${GRAFANA_CONTAINER} # Container name from .env file
    restart: always # Ensures the container always restarts if it crashes
    ports:
      - ${GRAFANA_PORT}:3000 # maps host port to grafana's internal port 3000
    env_file: .env # loads .env variables
    environment:
      - SLACK_WEBHOOK_URL=${SLACK_WEBHOOK_URL} # Pass Slack webhook URL to Grafana
      - GF_SERVER_ROOT_URL=${GRAFANA_ROOT_URL} # Set Grafana's external URL for correct links
      - GF_AUTH_ANONYMOUS_ENABLED=true # Enable anonymous access
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer # Anonymous users can only view dashboards
      - GF_SECURITY_ALLOW_EMBEDDING=true # Allow embedding in iframes if needed
    volumes:
      - ./config/datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
      - ./config/dashboard.yml:/etc/grafana/provisioning/dashboards/dashboard.yml
      - ./config/dashboard_dynamic.json:/var/lib/grafana/dashboards/dashboard.json
      - ./config/alerting.yml:/etc/grafana/provisioning/alerting/alerting.yml
      - ./config/alert_rules.yml:/etc/grafana/provisioning/alerting/alert_rules.yml
      - ./config/notification_policies.yml:/etc/grafana/provisioning/alerting/notification_policies.yml
      # - grafana_data:/var/lib/grafana # Optional mount for persistent grafana data storage
    networks:
      - monitoring # Connects node-exporter to monitoring network
    depends_on:
      - prometheus # Ensures prometheus starts before grafana
