apiVersion: 1
groups:
- orgId: 1
  name: server_monitoring_alerts
  folder: Server Monitoring
  interval: 10s
  rules:
  - uid: cpu-usage-alert
    title: CPU Usage Alert
    condition: C
    data:
    - refId: A
      relativeTimeRange:
        from: 600
        to: 0
      datasourceUid: prometheus
      model:
        expr: 100 - (avg by(instance) (irate(node_cpu_seconds_total{mode="idle"}[5m]))
          * 100)
        interval: ''
        refId: A
        datasource:
          type: prometheus
          uid: prometheus
    - refId: B
      relativeTimeRange:
        from: 0
        to: 0
      datasourceUid: '-100'
      model:
        datasource:
          type: __expr__
          uid: '-100'
        expression: A
        reducer: last
        refId: B
        type: reduce
    - refId: C
      relativeTimeRange:
        from: 0
        to: 0
      datasourceUid: '-100'
      model:
        datasource:
          type: __expr__
          uid: '-100'
        conditions:
        - evaluator:
            params:
            - 80
            type: gt
          operator:
            type: and
          query:
            params:
            - B
          type: query
        expression: B
        refId: C
        type: threshold
    noDataState: NoData
    execErrState: Alerting
    for: 10m
    annotations:
      summary: CPU usage has been above 80% for 10m
      description: CPU usage has exceeded 80% for 10m
    labels: {}
    isPaused: false
  - uid: memory-usage-alert
    title: Memory Usage Alert
    condition: C
    data:
    - refId: A
      relativeTimeRange:
        from: 600
        to: 0
      datasourceUid: prometheus
      model:
        expr: 100 * (1 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes))
        interval: ''
        refId: A
        datasource:
          type: prometheus
          uid: prometheus
    - refId: B
      relativeTimeRange:
        from: 0
        to: 0
      datasourceUid: '-100'
      model:
        datasource:
          type: __expr__
          uid: '-100'
        expression: A
        reducer: last
        refId: B
        type: reduce
    - refId: C
      relativeTimeRange:
        from: 0
        to: 0
      datasourceUid: '-100'
      model:
        datasource:
          type: __expr__
          uid: '-100'
        conditions:
        - evaluator:
            params:
            - 90
            type: gt
          operator:
            type: and
          query:
            params:
            - B
          type: query
        expression: B
        refId: C
        type: threshold
    noDataState: NoData
    execErrState: Alerting
    for: 5m
    annotations:
      summary: 'Memory usage is at 90% (threshold: 90%)'
      description: Memory usage has exceeded 90% for 5m
    labels: {}
    isPaused: false
  - uid: storage-alert-physical-drives
    title: Storage Alert
    condition: C
    data:
    - refId: A
      relativeTimeRange:
        from: 600
        to: 0
      datasourceUid: prometheus
      model:
        expr: 100 * (1 - (node_filesystem_avail_bytes{mountpoint=~"^/rootfs$|/rootfs/home$|/rootfs/mnt/data[0-9]+$",fstype!="tmpfs"}
          / node_filesystem_size_bytes{mountpoint=~"^/rootfs$|/rootfs/home$|/rootfs/mnt/data[0-9]+$",fstype!="tmpfs"}))
        interval: ''
        refId: A
        datasource:
          type: prometheus
          uid: prometheus
    - refId: B
      relativeTimeRange:
        from: 0
        to: 0
      datasourceUid: '-100'
      model:
        datasource:
          type: __expr__
          uid: '-100'
        expression: A
        reducer: last
        refId: B
        type: reduce
    - refId: C
      relativeTimeRange:
        from: 0
        to: 0
      datasourceUid: '-100'
      model:
        datasource:
          type: __expr__
          uid: '-100'
        conditions:
        - evaluator:
            params:
            - 90
            type: gt
          operator:
            type: and
          query:
            params:
            - B
          type: query
        expression: B
        refId: C
        type: threshold
    noDataState: NoData
    execErrState: Alerting
    for: 10s
    annotations:
      summary: Drive is more than 90% full
      description: ''
    labels: {}
    isPaused: false
