apiVersion: 1

contactPoints:
  - orgId: 1
    name: slack-alerts
    receivers:
      - uid: slack-alerts
        type: slack
        settings:
          url: ${SLACK_WEBHOOK_URL}
          title: "{{ range .Alerts }}Storage Alert ({{ .Labels.device }}){{ end }}"
          text: "{{ range .Alerts }}⚠️ {{ .Labels.mountpoint }} is more than 90% full{{ end }}"
        disableResolveMessage: false
